*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(74, 76, 77);
}
.bodyContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 50%;
    height: 60%;
    background-color: rgb(51, 115, 94);
    box-shadow: 0 2px 10px black;
    border-radius: 5px;
}
h1{
    width: 100%;
    text-align: center;
    margin-bottom: 2.5rem;
    color: rgb(125, 24, 70);
}
.password-level button{
    padding: 4px;
    transition: all 0.3s ease-in-out;
    border: none;
    border-radius: 5px;
}
.password-level button:hover{
    background-color: rgb(87, 155, 192);
    transform: scale(0.94);
}
img{
    width: 1rem;
    cursor: pointer;
   
    /* border: none; */
}
.password-level{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
   gap: 0.5rem;
}
.password-level input{
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
}
.password-length{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 14%;
    gap: 1rem;
}
.password-length input{
    width: 3.5rem;
    border: none;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}
.checkBox-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-left: 18%;
    gap: 0.5rem;
}
.btn-class{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#btn{
    padding: 5px 10px;
    border: none;
    background-color: rgb(46, 23, 128);
    color: white;
    border-radius: 10px;
    transition: all 0.3s ease;
}
#btn:hover{
    /* transform: scale(0.96); */
    box-shadow: 0 2px 10px black;
}
input{
    cursor: pointer;
}